/* STYLES DE SIDEBAR  */
/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ====== Transition ====== */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
  --tran-06: all 1s ease;
}

body {
  min-height: 100vh;
  background-color: #e4e9f7;
  transition: all 0.3s ease;
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: #006341;
  transition: var(--tran-05);
  z-index: 100;
}
.sidebar.close {
  width: 88px;
}

.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: white;
  transition: var(--tran-02);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
  width: 65px;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 5px;
  margin-left: 20px;
  font-size: 25px;
  font-weight: 600;
}

header .image-text {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .toggle {
  position: absolute;
  top: 70%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  color: #006341;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  transition: var(--tran-06);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.box_open {
  border-radius: 6px;
  background-color: #e4e9f7;
  cursor: pointer;
}

.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: #00c67d;
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: black;
  transition: var(--tran-01);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

/* AJUSTES PARA EL NAVBAR */

.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}
.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}

.home2 {
  position: absolute;
  margin-top: 10em;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}
.home2 .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home2 {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}

.home3 {
  position: absolute;
  margin-top: 7em;
  left: 930px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}
.home3 .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}


/* ------------------------------------------ */

/* STYLES NAVBAR  */
.planerva_text {
  color: #006341;
  font-size: 40px;
  font-weight: 600;
}
.presupuesto_text {
  color: #00c67d;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  top: 50px;
  left: 135px;
}

.rounded-full {
  height: 50px;
  width: 50px;
}

/* ------------------------------------------------ */

/* TABLE STYLES */
.Table {
  margin-left: 5%;
  margin-right: 40%;
}
/* ------------------------- */

/*CARDS STYLES */
.cards{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 300px;
}
.Card_body {
  background-color: #00c67d;
  border-radius: 10px;
  height: 10em;
  width: 18em;
  margin: 5px;
}
.card_icon {
  background-color: #e4e9f7;
  border-radius: 5px;
  height: 5em;
  width: 5em;
  margin: 2.5em 15px ;
}
.icon_card {
  height: 3em;
  margin: auto;
  margin: 15px;
  color: #00c67d;
}
.personal{
  color: #e4e9f7;
  font-family: "Times New Roman";
  font-size: 20px;
  position: absolute;
  top: 0em;
  align-items: flex-end;
  left: 110px;
  font-weight: 600;
  margin-right: 30px;
  margin-top: 15px;
}
.personal p {
  color: #e4e9f7;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  justify-content: end;
  position: absolute;
  top: 2em;
  align-items: flex-end;
  right: 55px;
}
.contable{
  color: #e4e9f7;
  font-family: "Times New Roman";
  font-size: 20px;
  position: absolute;
  top: 9em;
  align-items: flex-end;
  left: 110px;
  font-weight: 600;
  margin-right: 30px;
  margin-top: 15px;
}
.contable p {
  color: #e4e9f7;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  justify-content: end;
  position: absolute;
  top: 2em;
  align-items: flex-end;
  right: 43px;
}
.salario{
  color: #e4e9f7;
  font-family: "Times New Roman";
  font-size: 20px;
  position: absolute;
  top: 17em;
  align-items: flex-end;
  left: 110px;
  font-weight: 600;
  margin-right: 30px;
  margin-top: 15px;
}
.salario p {
  color: #e4e9f7;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  justify-content: end;
  position: absolute;
  top: 2em;
  align-items: flex-end;
  right: 43px;
}
.blog{
  display: flex;
  justify-content: center;
  margin-top: -5em;
  margin-left: 5em;
  color: #e4e9f7;
}

.box_cards {
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: row;
}

/* --------------------------------- */
