.staff-table-ctn {
  border-radius: 2rem;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.5);
  min-height: 50vh;
  height: fit-content;
  max-height: 70vh;
}
.staff-table-ctn .table-titles {
  border-bottom: #006341 1px solid;
}
.staff-table-ctn .table-titles div {
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20%;
  padding: 2rem 2rem;
}
.staff-table-ctn .table-titles h4 {
  font-weight: 300;
  color: #006341;
  letter-spacing: 1px;
}
.table-values {
  min-height: 20rem;
  max-height: 20rem;
  overflow-y: scroll;
  padding: 3rem 0;
}
.staff-entry {
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  font-size: 1.25rem;
  font-weight: 400;
  color: #0a2540;
  padding: 1rem 2rem;
}
.staff-entry .settings {
  font-size: 2rem;
  align-items: center;
  text-align: center;
  color: #00c67d;
}
.table-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.table-footer .footer-btn {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-footer .footer-btn h4 {
  font-weight: 700;
}
.table-footer .footer-btn svg {
  font-size: 2rem;
  margin-left: 1rem;
}
.table-footer .add-staff {
  color: #ffffff;
  font-weight: 700;
  background-color: #006341;
  border-radius: 0rem 0rem 0rem 2rem;
}
.table-footer .download-staff {
  background-color: #3cc47c;
  color: #ffffff;
}
.table-footer .upload-staff {
  background-color: #c9d6de;
  color: #f6fbff;
  border-radius: 0rem 0rem 2rem 0rem;
}
