.module-card{
    background-color: #3CC47C;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    font-size: 5rem;
    color: #E8F3F5;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}
.module-card h4{
    font-size: 2.5rem;
    font-weight: 400;
    padding: 1rem 0;
}