.AppReportBtn{
    display: flex;
    justify-content: center;
    grid-column: 1/3;
}
.report-btn-ctn {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  background-color: red;
  width: 40vw;
}
.report-btn-ctn div {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}
.report-btn-ctn .report-menu-btn {
  background-color: #006341;
}
.report-btn-ctn .report-download-btn{
    background-color: #3CC47C;
}
.report-btn-ctn div svg{
  margin-left: 1rem;  
  font-size: 2rem;
}

